<%= form_with(model: record, local: true) do |form| %>
  <% if record.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(record.errors.count, "error") %> prohibited this record from being saved:</h2>

      <ul>
      <% record.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :music_title %>
    <%= form.text_field :music_title, id: :record_music_title %>
  </div>

  <div class="field">
    <%= form.label :mood %>
    <%= form.text_field :mood, id: :record_mood %>
  </div>

  <div class="field">
    <%= form.label :location %>
    <%= form.text_field :location, id: :record_location %>
  </div>

  <div class="field">
    <%= form.label :weather %>
    <%= form.text_field :weather, id: :record_weather %>
  </div>

  <div class="field">
    <%= form.label :memo %>
    <%= form.text_area :memo, id: :record_memo %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
